@use "tailwindcss";

:root {
  --primary-red: #B22E2E;
  --primary-red-alfa: #B22E2E33;
}

$base-font-size: 14px;
$base-line-height: 1.2;

@mixin base-font-styles {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

body {
  margin: 0;
  font-family: 'Lucida Grande', 'Trebuchet MS', sans-serif;
  font-size: 12px;
  background: rgb(41, 41, 41);
}

#root {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 0;
}

.mapboxgl {
  &-ctrl-logo,
  &-ctrl-attrib-inner>* {
    display: none !important;
  }

  &-ctrl-scale {
    @include base-font-styles;
    border-radius: 0 4px 4px 0;
    border-left: none;

    &::before {
      content: "Scale";
      position: absolute;
      top: 0;
      left: -49px;
      font-size: 14px;
      line-height: 1.2;
      background-color: #ffffffbf;
      border-radius: 4px 0 0 4px;
      border-left: 2px solid #333333;
      border-top: none;
      border-bottom: 2px solid #333333;
      padding: 0 6px;
    }
  }

  &-ctrl-attrib.mapboxgl-compact {
    display: none !important;
  }

  .mapboxgl-marker {
    z-index: 10;
  }

  .mapboxgl-user-location {
    &-dot {
      background-color: var(--primary-red);

      &::before {
        background-color: var(--primary-red);
      }
    }

    &-accuracy-circle {
      background-color: var(--primary-red-alfa);
    }
  }


}

.weatherlayers {
  &-timeline-control,
  &-legend-control {
    & * {
      @include base-font-styles;
    }
  }

  &-timeline-control {
    &__buttons > a {
      width: 24px;
      height: 24px;

      &.weatherlayers-timeline-control__play-button {
        display: none;
      }
    }

    &__loader {
      visibility: hidden
    }
  }
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-text-fill-color: theme('colors.gray.300');
    transition: background-color 9999s ease-in-out 0s;
  }
}
